div, button {
    color: white;
    font-family: sans-serif;
}

button {
    opacity: 0.9;
    transition: 0.05s;
    height: 180px;
    width: 180px;
    font-size: 60px;
    text-align: center;
    line-height: 180px;
    border-style: none;
    border-radius: 90px;
}

button:hover {
    opacity: 1;
}

button:active {
    scale: 0.98;
}

#display {
    width: 800px;
    height: 200px;
    background-color: black;
    line-height: 200px;
    font-size: 160px;
    padding-right: 20px;
    text-align: right;
}

#calculator {
    width: 800px;
    height: 800px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0 0 20px;
}

.number {
    background-color: darkgray;
}

.action {
    background-color: orange;
}

/* #zero {
    width: 360px;
    border-radius: 90px;
} */